<div class="single-post-box">
    <div class="post-header">
        <h3><%= @post.title %> by <%= @post.author.name %></h3>
        <div class="post-stats">
            <span>Comments: <%= @post.comments.count %>,</span>
            <span>Likes: <%= @post.likes.count %></span>
        </div>
    </div>
    <p><%= @post.text %></p>
    <%= link_to "like", user_post_likes_path(@post.author, @post), class: 'like-button' %>
</div>
<% if user_signed_in? %>
    <div class="comment-form">
        <h4>Add a comment:</h4>
        <%= form_with model: [@post.author, @post, @comment ] do |form| %>
        <p>
            <%= form.text_area :text, rows: 2 %>
        </p>
        <p>
            <%= form.submit %>
        </p>
        <% end %>
    </div>
<% end %>
<div class="comment-peek">
    <% @post.comments.each do |comment| %>
        <%= render "comment_thumb", {comment: comment.text, commenter: comment.user.name} %>
        <% end %>
</div>